
* {
    margin: 0;
}

#VANLIFELink{
    text-decoration: none;
    color: black;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 35px;
    padding-left: 20px;
}

#vansLink{
    margin-left: 40px;
    margin-right: 30px;
    text-decoration: none;
    color: black;
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

#vansLink:hover {
    text-decoration: underline;
}

#aboutNavbarLink{
    text-decoration: none;
    margin-left: auto;
    color: black;
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

#aboutNavbarLink:hover{
    text-decoration: underline;
}

#imageDiv{
    position: relative;
    background-image: url("./imgs/image.png");
    background-size: cover;
    background-position: center;
    height: 700px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 0px 0px 5px 5px;
}


#imageDiv::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,.5);
}

#you{
    position: relative;
    color: white;
    z-index: 1;
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    text-align: left;
    margin-left: 60px;
    padding-top: 20px;
}

#add{ 
    position: relative;
    color: white;
    z-index: 1;
    text-align: left;
    margin-left: 60px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    padding-top: 20px;
}

#findButton{
    background-color: orange;
    color: white;
    z-index: 1;
    position: relative;
    display: block;
    margin: 50px auto;
    margin-top: 150px;
    box-shadow: none;
    padding: 10px;
    padding-left: 300px;
    padding-right: 300px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

#Juli{
    background-image: url("./imgs/43C2D003-E559-48E9-AD14-7CDDAD45EE67_1_201_a.heic");    background-size: cover;
    background-position: center;
    height: 500px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 0px 0px 5px 5px;
}

#underJuliTextbox{
    width: fill;
    background-color: rgb(255, 255, 211);
    border-radius: 10px;
    margin: 5px; 
    padding-bottom: 40px; 
}

#dont {
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 20px;
    padding-left: 40px;
    padding-top: 20px;
    font-weight: bold;
}

#our{
    padding-left: 40px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 30px;
}

#hitch{
    padding-left: 40px;
    font-family: 'Courier New', Courier, monospace;

}

#yourDiv {
    background-color: rgb(255, 190, 78);
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
}

#your{
    padding-left: 50px;
    padding-top: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#explore{
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
}

#footer{
    background-color: black;
}

#date{
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
}

#Navbar {
    background-color:rgb(193, 193, 193);
    border-radius: 6px 6px 0px 0px;
    display: flex;
    text-decoration: none;
    border: none;
    margin: 0px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    padding-bottom: 30px;
    padding-top: 30px;
}

